@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
}

:root {
  --text-primary: #1f2936;
  --bg-primary: #f9fafb;
  --bg-secondary: #ccd5dd;
  --bg-tabcolor: #000;
  --bg-tab-font: #fff;
  --bg-inactivetab: #fff;
  --bg-button: #372f2f;
}

body.light-theme {
  --text-primary: #1f2936;
  --bg-primary: #f9fafb;
  --bg-secondary: #ccd5dd;
  --bg-tabcolor: #000;
  --bg-tab-font: #fff;
  --bg-inactivetab: #fff;
  --bg-button: #372f2f;
}

body.dark-theme {
  --text-primary: #fff;
  --bg-primary: #1f1b24;
  --bg-secondary: #fff;
  --bg-tabcolor: #fff;
  --bg-tab-font: #000;
  --bg-inactivetab: #000;
  --bg-button: #51515f;
}

body.lavender-theme {
  --text-primary: #000;
  --bg-primary: #d3d3ff;
  --bg-secondary: #c0c0e8;
  --bg-tabcolor: #c0c0e8;
  --bg-tab-font: #000;
  --bg-inactivetab: #84849f;
  --bg-button: #51515f;
}

body.green-theme {
  --text-primary: #000;
  --bg-primary: #e3fede;
  --bg-secondary: #c6fcbc;
  --bg-tabcolor: #a2e496;
  --bg-inactivetab: #474545;
  --bg-tab-font: #000;
  --bg-button: #7b9c74;
}

body.beige-theme {
  --text-primary: #f1f5f9;
  --bg-primary: #f5f5dc;
  --bg-secondary: #3d4859;
  --bg-tabcolor: #a2e496;
  --bg-tab-font: #000;
  --bg-inactivetab: #fff;
}

body.orange-theme {
  --text-primary: #f1f5f9;
  --bg-primary: #ffc067;
  --bg-secondary: #3d4859;
  --bg-tabcolor: #a2e496;
  --bg-tab-font: #000;
  --bg-inactivetab: #fff;
}

body.grey-theme {
  --text-primary: #f1f5f9;
  --bg-primary: #dbdcda;
  --bg-secondary: #3d4859;
  --bg-tabcolor: #a2e496;
  --bg-tab-font: #000;
  --bg-inactivetab: #fff;
}

body.brown-theme {
  --text-primary: #f1f5f9;
  --bg-primary: #e7c6a2;
  --bg-secondary: #3d4859;
  --bg-tabcolor: #a2e496;
  --bg-tab-font: #000;
  --bg-inactivetab: #fff;
}

body {
  background-color: var(--bg-primary);
}

.toggleclass {
  pointer-events: none;
  opacity: 0.5;
}

.themes {
  display: none; /* Hidden by default */
  position: absolute;
  top: 45px;
  left: 150px;
  background-color: var(--bg-primary);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  height: auto;
  width: 250px;
  flex-direction: column;
  gap: 12px;
}

.themes .darktheme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: var(--text-primary);
  cursor: pointer;
  margin-bottom: 10px;
}

.themes .darktheme i {
  margin-right: 8px;
}

/* Optional: Add some sample content styling */
.themes p {
  font-size: 14px;
  color: var(--text-primary);
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  margin-top: 10px;
}

.themes p:hover {
  text-decoration: underline;
}

.themes .coloroptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 10px; */
}

.themes .coloroptions .themediv {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.themes .coloroptions .one {
  background-color: #f5f5dc;
}

.themes .coloroptions .two {
  background-color: #e6e6fa;
}

.themes .coloroptions .three {
  background-color: #b2fba5;
}

.themes .coloroptions .four {
  background-color: #f4a460;
}

.themes .coloroptions .five {
  background-color: #808080;
}

.themes .coloroptions .six {
  background-color: #964b00;
}

.header i {
  color: #b8860b;
}

.themes .coloroptions .selectedthemehighlight {
  border: 5px solid red;
}

.header {
  display: flex;
  justify-content: space-between;
  text-align: left;
  color: #000;
  margin: 20px 20px 0 20px;
  font-size: 24px;
  position: relative;
}

.account,
.activity {
  margin: 20px 0;
  padding: 0 20px;
}

.header h3 {
  color: var(--text-primary);
}

.subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  height: 40px;
  padding: 0 20px;
}

.left-buttons,
.right-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.right-buttons i {
  font-size: 16px;
  color: var(--text-primary);
}

.backCls {
  position: absolute;
  left: 60px;
}

button {
  padding: 10px 20px;
  background-color: var(--bg-button);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 500;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-tabcolor);
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  z-index: 1000;
}

.tab {
  color: var(--bg-inactivetab);
  text-align: center;
  flex-grow: 1;
  text-decoration: none;
  font-size: 14px;
}

.tab i {
  margin-bottom: 4px;
  /* margin-right: 20px; */
}

.tab.active {
  color: var(--bg-tab-font);
  font-size: 16px;
  font-weight: 600;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-box {
  background: var(--bg-secondary);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.button-group button {
  flex: 1;
}

.popup-box input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
}

.popup-box input:focus {
  outline: none;
  border-color: #000;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.input-group {
  position: relative;
}

.input-group input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 13px;
  padding-top: 15px;
  margin-top: 10px;
}

.input-group label {
  position: absolute;
  left: 10px;
  top: 20px;
  background: white;
  padding: 0;
  color: #888;
  font-size: 13px;
  transition: 0.2s ease all;
  pointer-events: none;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  font-size: 10px;
  transform: translateY(-8px);
  color: #000;
}

.notification {
  position: fixed;
  bottom: 50px;
  width: 100%;
  background-color: #228b22;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;
}

.notification.show {
  opacity: 1;
  pointer-events: auto;
}

.trip-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.trip-card {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-secondary);
  padding: 15px;
  cursor: pointer;
  height: 100px;
  /* transition: transform 0.2s ease; */
  animation: fadeSlideIn 0.5s ease-out;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.trip-card:hover {
  transform: translateY(-5px);
}

.trip-card-detail h3 {
  margin: 0;
  color: #333;
}

.trip-card-detail h5 {
  /* color: #808080; */
  margin-top: 20px;
}

.trip-card-arrow {
  font-size: 18px;
  color: #555;
  align-content: center;
  opacity: 1;
  transition: opacity 1.2s ease;
}

/* .trip-card:hover .trip-card-arrow {
  opacity: 1;
} */

/**************Trip details *************/

@media (max-width: 900px) {
  .subheader {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 15px;
    justify-content: center;
    margin-top: 25px;
  }

  .subheader button:last-child:nth-child(odd) {
    grid-column: span 3;
  }

  .backCls {
    position: absolute;
    left: 20px;
  }

  .right-buttons {
    position: absolute;
    right: 20px;
  }
}
